/* Add to your styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.hero {
    background: linear-gradient(45deg, #000000, #434343, #236B8E, #0F9B8E);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
}

.hero-content {
    position: relative;
    color: #ffffff;
    z-index: 10;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.btn-cta {
    padding: 10px 25px;
    background-color: #000000; /* black background */
    color: #ffffff; /* white text colour */
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* pseudo-element for the arrow or can be added directly to html */
}

.btn-cta:hover {
    background-color: #555; /* DARKER BACKGROUND ON HOVER */
    color: #ddd; /* sligtly lighter text on hover */
    transform: translateX(5px); /* move button to the right on hover */
}

/* ... rest of the styles ... */